body{
margin: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: #ccecee;
}
.wrapper{
    text-align: center;
    gap: 10px;
}
.logo{
    margin-bottom: 30px;
}
.container{
    display: flex;
    background: white;
    width: 650px;
    height: 330px; 
    gap: 20px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 8px 25px rgb( 0,0,0,0.1);
}
.left{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    max-width: fit-content;
}
.left label{
    font-size: 20px;
    color: #577070;
    text-align: left;
    font-weight: bolder;
}
.input {
    background: #f2f2f2;
    width: auto;
    text-align: left;
    padding: 5px;
    border-radius: 8px;
}
.bill{
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    border: none;
    text-align: right;
    background: #f2f2f2;
    outline: none;
    /* color: #00494d; */
    font-size: 25px;
    font-weight: bolder;
    border-radius: 10px;
}
img{
    width: 30px;
    height: 30px;
}
.tip-button{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    width: auto; 
}
.tip{
    background: #00494d;
    color: whitesmoke;
    font-size: 25px;
    font-weight: bolder;
    border-radius: 5px;
    border: none;

}
.custom{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 100%;
    max-width: 100%;
    background: #f2f2f2;
    color: #00494d;
}
.right{
    width: 37%;
    background: #00494d;
    color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    line-height: 35px;

}
.result-row{
    flex: 1;
}
.text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 40px; */

    .label{
        line-height: 7px;
        text-align: left;
        font-size: 10px;
    }
}
.figure{
    align-items: right;
    font-size: large;
    font-weight: bolder;

    h2{
        color: #27ffe6be;
        font-size: 40px;
    }
}
#reset{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #27ffe6be;
    margin-top: 40px;
}
h3{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
p{
    color: white;
    font-size: 10px;
    font-weight: bold;
}
@media screen  and (max-width: 658px) {
    .container{
        display: flex;
        flex-direction: column;
        background: white;
        width: 330px;
        height: 690px; 
        gap: 10px;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0 8px 25px rgb( 0,0,0,0.1);
    }
    .left{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        max-width: fit-content;
        margin-bottom: 30p;
    }
    .label{
        font-size: 13px;
        color: #577070;
        text-align: left;
        font-weight: bold;
    }
    label{
        font-weight: bolder;
        font-size: 800px;
    }
    .input {
        background: #f2f2f2;
        width: auto;
        text-align: left;
        padding: 5px;
        border-radius: 8px;
    }
    .bill{
        flex: 1;
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        border: none;
        text-align: right;
        background: #f2f2f2;
        outline: none;
        color: #00494d;
        font-size: 20px;
        font-weight: bolder;
    }
    img{
        width: 19px;
        height: 19px;
        margin-left: 10px;
    }
    .tip-button{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        width: auto; 
    }
    .tip{
        background: #00494d;
        color: whitesmoke;
        font-size: 25px;
        font-weight: bolder;
        border-radius: 5px;
        border: none;

    }
    .custom{
        text-align: center;
        font-size: 20px;
        font-weight: bolder;
        border-radius: 5px;
        border: none;
        width: 100%;
        max-width: 100%;
        background: #f2f2f2;
        color: #00494d;
    }
    .right{
        width: 90%;
    }

}
.active-btn{
    background-color: #27ffe6be;
    color: #00494d;
}