body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: auto;
    background-size: cover;
    background-position: center;
    animation: backgroundchange 30s infinite;
    animation-delay: 0s;
    /* display: grid; */

}
@keyframes backgroundchange {
    0% {
        background-image: url(first.jpg);
        opacity: 0.9;
        
    }
    30% {
        background-image: url(second.jpg);
        opacity: 0.9;
        
    }
    60% {
        background-image: url(third.jpg);
        opacity: 0.9;
        
    }
    70% {
        background-image: url(fourth.jpg);
        opacity: 0.9;
        
    }
    80% {
        background-image: url(firth.jpg);
        opacity: 0.9;
        
    }
    100% {
        background-image: url(sixth.PNG);
        opacity: 0.9;
        
    }

}
 a img{
    width: 50px;
    height: 50px;
    text-decoration: none;
    outline: none;
    border-radius: 30px;
 }
 .container, footer {
    margin-top: 10%;
    color: white;
    font-weight: bolder;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 30px;
    opacity: o;
    transform: translateY(-50px);
    animation: fadeIn 1s forwards;
    animation-delay: .3s;
 }
 @keyframes fadeIn{
    to{
        opacity: 1;
        transform: translateY(0);
    }
 }   
 h1{
    font-size: 90px;
    margin-bottom: 0;
    background: linear-gradient(90deg,white, orange, yellow);
    -webkit-background-clip: text;
    color: transparent;
 }
 h3{
    margin-top: 0;
    background: linear-gradient(90deg , black, white, grey);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 40px;
    font-weight: bold;
 }
 p{
    opacity: 0.8;
 }
 nav{
    display: flex;
    justify-content: center;
    gap: 40px;
 }

 .socials{
    height: 30px;
    line-height: 90px;
    margin-bottom: 20%;
 }
 footer{
    background: orange;
    width: 100%;
    /* margin-bottom: 0; */
 }

